In [ ]:
import pandas as pd

# 유저의 인구통계적 정보를 매핑하는 데이터프레임을 생성하는 코드
df = pd.DataFrame(columns=['category', 'index'])

gender = ['gender_male', 'gender_female']
age = ['age_19-21', 'age_22-24', 'age_25-27', 'age_28-30', 'age_31-']
grade = ['grade_fresher', 'grade_sophomore', 'grade_junior', 'grade_senior', 'grade_eternal']
likedChannel = ['likedChannel_A', 'likedChannel_B', 'likedChannel_C', 'likedChannel_D', 'likedChannel_E']

categories = [gender, age, grade, likedChannel]

for category in categories:
    for i, item in enumerate(category):
        df.loc[len(df)] = [item, i]
df

           category  index
0       gender_male      0
1     gender_female      1
2         age_19~21      0
3         age_22~24      1
4         age_25~27      2
5         age_28~30      3
6           age_31~      4
7     grade_fresher      0
8   grade_sophomore      1
9      grade_junior      2
10     grade_senior      3
11    grade_eternal      4
12   likedChannel_A      0
13   likedChannel_B      1
14   likedChannel_C      2
15   likedChannel_D      3
16   likedChannel_E      4

In [2]:
df.to_csv('/Users/myserver/workspace/OSS/model04_demographic_filtering/data04/mapping_categories.csv')